{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/styles/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-container">
    <h1>Log In</h1>

    <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="form-errors">
                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
            <div class="form-errors">{{ form.username.errors }}</div>
        </div>

        <div class="form-group">
            {{ form.password.label_tag }}
            {{ form.password }}
            <div class="form-errors">{{ form.password.errors }}</div>
        </div>

        <button type="submit" class="submit-btn">Log in</button>
    </form>

</div>

{% endblock %}