{% extends "base.html" %}

{% load static %}

{% block title %} Home | {{ block.super }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'core/styles/index.css' %}">
{% endblock %}

{% block content %}
<a class="pageLink" href="{% url 'catalog:notebooks' %}">
    <div class="Sections" id="Notebooks">
        <h2 class="PageName">Notebooks</h2>
        <div class="egcards">
            <img class="leftfeatured" src="{{ notebooks.0.images.front_cover.url }}" alt="{{ notebooks.0.name }}">
            <img class="midfeatured" src="{{ notebooks.1.images.front_cover.url }}" alt="{{ notebooks.1.name }}">
            <img class="rightfeatured" src="{{ notebooks.2.images.front_cover.url }}" alt="{{ notebooks.2.name }}">
        </div>
    </div>
</a>
<a class="pageLink" href="{% url 'catalog:cards' 'birthday-cards' %}">
    <div class="Sections" id="BirthdayCards">
        <h2 class="PageName">Birthday Cards</h2>
        <div class="egcards">
            <img class="leftfeatured" src="{{ birthday_cards.0.images.tall_img.url }}" alt="{{ birthday_cards.0.name }}">
            <img class="midfeatured" src="{{ birthday_cards.2.images.tall_img.url }}" alt="{{ birthday_cards.2.name }}">
            <img class="rightfeatured" src="{{ birthday_cards.1.images.tall_img.url }}" alt="{{ birthday_cards.1.name }}">
        </div>
    </div>
</a>
<a class="pageLink" href="{% url 'catalog:cards' 'wedding-and-anniversary-cards' %}">
    <div class="Sections" id="WeddingCards">
        <h2 class="PageName">Wedding &amp; Anniversary Cards</h2>
        <div class="egcards">
            <img class="leftfeatured" src="" alt="">
            <img class="midfeatured" src="" alt="">
            <img class="rightfeatured" src="" alt="">
        </div>
    </div>
</a>
<a class="pageLink" href="{% url 'catalog:cards' 'seasonal-cards' %}">
    <div class="Sections" id="SeasonalCards">
        <h2 class="PageName">Seasonal Cards</h2>
        <div class="egcards">
            <img class="leftfeatured" src="{{ seasonal_cards.0.images.tall_img.url }}" alt="{{ seasonal_cards.0.name }}">
            <img class="midfeatured" src="{{ seasonal_cards.1.images.tall_img.url }}" alt="{{ seasonal_cards.1.name }}">
            <img class="rightfeatured" src="{{ seasonal_cards.2.images.tall_img.url }}" alt="{{ seasonal_cards.2.name }}">
        </div>
    </div>
</a>
<a class="pageLink" href="{% url 'catalog:cards' 'special-occasion-cards' %}">
    <div class="Sections" id="SpecialCards">
        <h2 class="PageName">Cards for Special Occasions</h2>
        <div class="egcards">
            <img class="leftfeatured" src="{{ special_cards.1.images.tall_img.url }}" alt="{{ special_cards.1.name }}">
            <img class="midfeatured" src="{{ special_cards.0.images.tall_img.url }}" alt="{{ special_cards.0.name }}">
            <img class="rightfeatured" src="" alt="">
        </div>
    </div>
</a>
<a class="pageLink" href="{% url 'catalog:cards' 'other-cards' %}">
    <div class="Sections" id="OtherCards">
        <h2 class="PageName">Other Cards</h2>
        <div class="egcards">
            <img class="leftfeatured" src="" alt="">
            <img class="midfeatured" src="" alt="">
            <img class="rightfeatured" src="" alt="">
        </div>
    </div>
</a>
{% endblock %}