.shop_container {
    width: 90%;
    height: 1000px;
    margin: 1% 5%;
    border: 5px solid #954ECA;
    display: flex;
    justify-content: space-around;
}

.small_images {
    display: flex;
    margin: 2%;
    margin-top: 10%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    width: 5%;
    height: 90%;
}

.shop_img_container {
    width: 40%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.shop_img {
    width: 98%;
    border: 5px solid #954ECA;
}

.shop_img_button {
    width: 100%;
    border: 5px solid #954ECA;
    background-color: #EFE5F7;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.small_shop_img {
    width: 100%;
    margin: 0;
}


.item_details {
	width: 40%;
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-top: 2%;
}

.shop_card_name {
	font-size: 60px;
    margin: 0;
    margin-top: 1%;
}

.shop_card_size {
	font-size: 30px;
    margin: 0;
    margin-top: 1%;
}

.shop_card_price {
	font-size: 30px;
    margin: 0;
    margin-top: 1%;
}

.quantity_name {
    font-weight: bold;
    font-size: 20px;
}

#quantity{
    width: 100px;
}
    
.add_to_basket {
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.color_var_btn {
    background-color: #EFE5F7;
    color: black;
    padding: 16px;
    font-size: 20px;
    border:solid;
    width: 250px;
    margin: auto;
}
    
.color_var {
    display: inline-block;
}
    
.color_var_dropdown {
    display: none;
    position: absolute;
    background-color:#954ECA;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0 px rgba(0,0,0,0.2);
    z-index: 1;
    border: Solid;
    width: 250px;
}
    
.color_var_dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}
    
.color_var_dropdown a:hover {
    background-color:#EFE5F7; 
}
    
.color_var:hover .color_var_dropdown {
    display: block;
}

.add_to_cart_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

