.pageTitle {
    text-align: center;
    font-size: 60px;
    text-decoration: underline;
}

.pageLink:link {
    display:block;
    color: var(--text);
}

.pageLink:visited {
	color: var(--text);
}
    
    
.pageLink:hover {
    color: var(--primary);
}

.NotebookInfo {
	float: left;
	margin: 0.5%;
	width: 13%;
	height: 500px;
	border: var(--primary) solid 1px;
}

.NotebookMain {
	width: 98%;
	margin: 1%;
}

.Notebookinfo {
	font-size: 20px;
	text-align: center;
}
