body {
	margin: 0;
	padding: 0;
	background-color: #EFE5F7;
	min-height: 100vh;
	font-family: 'Trebuchet MS', sans-serif;
}

.MainContent {
    clear: both;
    padding: 1%;
}

h2 {
	color: black;
}

.hidden {
	display: none;
}