:root {
	/*colours*/
	--primary: #954ECA;
	--secondary: #B98EFF;
	--background: #EFE5F7;
	--text: #000000;
	--accent: #FF4C4C;
	--highlight: #FBE4FF;
	--link: #954ECA;
	--hover: #6B2E99;
	--error: #FF4C4C;
	--success: #4CAF50;

	--border: 2px solid var(--primary);
	--border-input: 1px solid var(--highlight);

	/*fonts*/
	--font: 'Trebuchet MS', sans-serif;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--background);
	min-height: 100vh;
	font-family: var(--font);
	color: var(--text);
}

.MainContent {
    clear: both;
    padding: 1%;
}

h1, h2, h3 {
	color: var(--primary);
}

a:link, a:visited {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--hover);
	text-decoration: none;
}

a:active {
	color: var(--accent);
	text-decoration: none;
}

.hidden {
	display: none !important;
}