{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Holmes Crafts{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css'%}">
    <link rel="stylesheet" href="{% static 'core/styles/includes/header.css'%}">
    {% block css %}{% endblock %}
</head>
<body>
    {% include "core/includes/header.html" %}

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
                <button type="button" class="close-btn">×</button>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <main class="MainContent">
        {% block content %}

        {% endblock %}
    </main>
    <script src="{% static 'core/scripts/ajax.js' %}"></script>
    <script src="{% static 'core/scripts/messages.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>