.basket_container {
    width: 80%;
    margin: 1% 10%;
    border: 5px solid #954ECA;
}

#basket {
    text-align: center;
    margin: 5%;
    font-size: 50px;
}

table {
    margin: 1%;
    width: 98%;
    border-collapse: collapse;
    text-align: center;
    font-size: 30px; 
}
    
th { 
    background-color: #954ECA;
    border: 5px solid #954ECA;
}
    
td {
    border: 5px solid #954ECA;
    padding: 1%;
}
    
table input {
    width: 50px;
}

.basket_img {
    margin: 1%;
    width: 75px;
}

.basket_image {
    width: 100%;
}
    
.remove_button {
    background-color: #EFE5F7;
    border: none;
}
    
.remove_button:hover {
    background-color: #f7eeff;
    cursor: pointer;
}
    
#empty_basket {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.order_total_table {
    width: 20%;
    margin: 2% 40%; 
}
    
.order_total{
    background-color: #EFE5F7;
    text-align: center;
    border: none;
    text-decoration: underline;
    font-size: 30px;
}

.to_checkout {
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.to_checkout_form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}