{% extends "base.html" %}

{% load static %}

{% block title %} Password Reset | {{ block.super }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'accounts/styles/password_reset.css' %}">
{% endblock %}

{% block content %}
<div class="password-reset-container">
<h1>Reset password</h1>
<form method="post">
  {% csrf_token %}
  <div class="form-group">
    {{ form.email.label_tag }}
    {{ form.email }}
  </div>
  <button type="submit" class="submit-btn">Send reset link</button>
</form>
</div>
{% endblock %}