.logo {
	height: 150px;
	float: left;
}

.basket {
	float: right;
	margin: 100px 10px 10px 0;
}

.basket img {
	width: 30px;
	float: left;
}

#cartNumber {
    float: right;
    margin: 100px 10px 10px 0;
    text-align: center;
    color: var(--accent);
    font-size: 30px;
}

.madehow {
	color: var(--accent);
	float: left;
	margin: 65px 0 0 0;
	text-align: center;
}

nav {
	clear: both;
	background-color: var(--primary);
	padding: 10px 10px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}

nav ul {
	margin: 0;
	padding: 0 0 0 5px;
}

nav ul li {
	font-size: 20px;
	display: inline-block;
	list-style-type: none;
	padding: 0 10px;
	margin: 5px;
}

nav ul li a:link {
	text-decoration: none;
}

nav ul li a:visited {
	text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: var(--secondary);
}

nav ul li a:active {
	text-decoration: none;
}

nav ul .CurrentPage {
    background-color: var(--secondary);
}

.dropdown {
	font-size: 20px;
	display: inline-block;
	list-style-type: none;
	margin: 5px;
}

.dropdown .Cardsdropdown {
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: default;
}

.dropdown:hover .Cardsdropdown {
    text-decoration: none;
    background: var(--secondary);
}

.DropdownContent {
	display: none;
	position: absolute;
	background-color: var(--secondary);
	min-width: 60px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.DropdownContent a {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--secondary);
    margin: 3% 0;
}

.DropdownContent a:link {
    text-decoration: none;
}

.DropdownContent a:visited {
    text-decoration: none;
}

.DropdownContent a:hover {
    text-decoration: none;
    background: var(--primary);
}

.DropdownContent a:active {
    text-decoration: none;
}

.DropdownContent .CurrentPage {
	background: var(--primary)
}

.dropdown:hover .DropdownContent { 
	display: block;
}