{% extends "core/emails/base_email.html" %}

{% block subject %}Order Confirmation | Holmes Crafts{% endblock %}

{% block css %}
<style>
</style>
{% endblock %}

{% block content %}

<div class="section customer">
    <h3>Order Confirmation</h3>
    <p>Thank You {{customer.name}} for placing an order with Holmes Crafts</p>
</div>

<div class="section order">
    <table role="presentation" width="100%" cellspacing="0" cellpadding="0" style="text-align:center;">
        <tr>
            <td>
                <h3>Your Order</h3>
            </td>
        </tr>
        <tr>
            <td>
                <table role="presentation" cellspacing="0" cellpadding="0" style="margin:auto; border-radius:8px; padding:10px;">
                    {% for item in order.items.all %}
                    <tr>
                        <td style="padding:10px 0;">
                            <table role="presentation" cellspacing="0" cellpadding="0" style="margin:auto; border-radius:8px; padding:10px;">
                                <tr>
                                    <td valign="middle" style="padding-right:10px;">
                                        <img src="{{ item.product_image }}" width="80" height="80" style="display:block; border-radius:8px;">
                                    </td>
                                    <td valign="middle" style="font-family:Arial,sans-serif; color:#000000; font-size:14px;">
                                        {{ item.product_name }} x {{ item.quantity }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="padding-top:20px;">
                            <table role="presentation" cellspacing="0" cellpadding="0" style="margin:auto; border-radius:8px; padding:15px; width:80%;">
                                <tr>
                                    <td style="font-family:Arial,sans-serif; font-size:16px; color:#000000; font-weight:bold;">
                                        Total: £{{ order.total_price }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

{% endblock %}