{% extends "core/emails/base_email.html" %}

{% block subject %}New Order | Holmes Crafts{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block content %}
<h1>New Order</h1>

<div class="section customer">
    <h3>Customer</h3>
    <p>Name: {{customer.name}}</p>
    <p>Email: {{customer.email}}</p>
</div>

<div class="section order">
    <h3>Order</h3>
    <ul>
        {% for item in order.items.all %}
        <li><img src="{{ item.product_image }}">{{ item.product_name }} x {{ item.quantity }}</li>
        {% endfor %}
    </ul>
</div>

<div class="section shipping">
    <h3>Shipping address</h3>
    {% for key, value in shipping_address.items %}
        {% if value %}
            <p>{{ value }}</p>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}