{% extends "base.html" %}
{% load static %}

{% block title %} {{ notebook.name }} | {{ block.super }} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'catalog/styles/notebook_shop_page.css' %}">
{% endblock %}

{% block content %}
<div class="shop_container">
    <div class="small_images">
        <button class="shop_img_button" id="small_img1" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.front_cover.url }}"></button>
        <button class="shop_img_button" id="small_img2" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.open_cover.url }}"></button>
        <button class="shop_img_button" id="small_img3" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.inside_front.url }}"></button>
        <button class="shop_img_button" id="small_img4" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.middle.url }}"></button>
        <button class="shop_img_button" id="small_img5" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.inside_back.url }}"></button>
        <button class="shop_img_button" id="small_img6" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.back_cover.url }}"></button>
        <button class="shop_img_button" id="small_img7" onClick ="changeImg()"><img class="small_shop_img" src="{{ notebook.images.zoom_middle.url }}"></button>
    </div>
    <div class= "shop_img_container">
        <img class="shop_img" id="shop_img" src="{{ notebook.images.open_cover.url }}">
    </div>
    <div class="item_details">
        <p class="shop_notebook_name">{{ notebook.name }}</p>
        <p class="shop_notebook_size">Size: {{ notebook.size }}</p>
        <p class="shop_notebook_price">Price: &pound;{{ notebook.price }}</p>
        <ul class="notebook_specs">
            <li>A5 Notebook with {{ notebook.theme }} Theme</li>
            <li>60 Sheets of 80gsm lined paper</li>
            <li>120 Perforated pages <br>with {{ notebook.page_img }} in the bottom outside corner</li>
            <li>Front cover 250gsm card with {{ notebook.front_img }} on the front</li>
            <li>Back cover 250gsm with a Holmes Crafts logo</li>
            <li>150 micron clear PVC binding covers</li>
        </ul>
        
        <p class="quantity_name">Quantity</p>
        <form class="add_to_cart_form" action="{% url "basket" %}" method="POST">
            {% csrf_token %}
            <input id="quantity" type="number" min="0" value="0" name="quantity">
            <input type="hidden" value={{ notebook.images.front_cover.url }} name="product_img">
            <input type="hidden" value="{{ notebook.name }}" name="product_name">
            <input type="hidden" value={{ notebook.price }} name="product_price">
            <input type="hidden" value={{ notebook.code }} name="product_code">
            <button class="add_to_basket" type="submit">Add to cart</button>
        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static "holmescraftsuk/scripts/shop_page.js" %}"></script>
{% endblock %}